# JavaScript Library related
node_modules/
config/personal.json

# JsDoc related
out/

# cordova/ionic related
platforms/
plugins/

# Backup / Temporaly related
*.swp
*.bak

# Mac user related
.DS_Store
