<!DOCTYPE html>
<html>
<head>
	<title>Decide | PushMe!</title>
	<meta charset="utf-8">
	<meta name="copyright" content="(c) PushMe Studio 2015">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
	<link rel="stylesheet" href="../css/external/pure-min.css" type="text/css">
	<link rel="stylesheet" href="../css/external/grids-responsive-min.css" type="text/css">
	<link rel="stylesheet" href="../css/pure-extended.css" type="text/css">
	<link rel="stylesheet" href="../css/common.css" type="text/css">
	<link rel="stylesheet" href="../css/sidemenu.css" type="text/css">
	<link rel="stylesheet" href="../css/accordion.css" type="text/css">
	<link rel="stylesheet" href="../css/smartphone.css" type="text/css">
	<link rel="stylesheet" href="../css/icon.css" type="text/css">
</head>
<body>
	<div id="layout">
		<!-- Menu toggle -->
		<a href="#menu" id="menuLink" class="menu-link">
			<!-- Hamburger icon -->
			<span></span>
		</a>
		<div id="menu" class="active">
			<div class="pure-menu pure-menu-open">
				<ul>
					<li><a href="submit.html"><img src="../img/menu_register.png"></a></li>
					<li><a href="decide.html"><img src="../img/menu_decide.png"></a></li>
					<li><a href="itemlist.html"><img src="../img/menu_list.png"></a></li>
					<li><a href="support.html"><img src="../img/menu_feedbk.png"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="header">
			<h1>Decide<img src="../img/mark_decide.png"></h1>
			<a href="index.html"><img  class="home" src="../img/home.png"></a>
		</div>
		<div class="content">
			<div id="notification">
				<div id="clipComplete" class="fade" style="display: none;"><h3>Clipped!</h3></div>
			</div>
			<form id="formId" class="pure-form">
				<div class="icon-area dispnum">
					<fieldset>
						<button type="button" id="view_few" class="pure-button"><img src="../img/option_few.png"></button>
						<button type="button" id="view_normal" class="pure-button"><img src="../img/option_normal.png"></button>
						<button type="button" id="view_many" class="pure-button"><img src="../img/option_many.png"></button>
					</fieldset>
				</div>
				<div class="category">
					<select id="queryId">
						<option value="">ALL</option>
					</select>
				</div>

				<div class="icon-area option">
					<button type="button" id="narrow" onclick="narrowItems()" disabled="disabled" class="pure-button"><img src="../img/filterbycheck.png"></button>
					<button type="button" id="reset" onclick="resetItem()" disabled="disabled" class="pure-button"><img src="../img/unfilter.png"></button>
					<button type="button" id="clip" onclick="clipItem()" disabled="disabled" class="pure-button"><img src="../img/clip.png"></button>
					<button type="button" id="share" onclick="shareItem()" disabled="disabled" class="pure-button"><img src="../img/share.png"></button>
				</div>

			</form>

			<div id="itemlist"></div>
			<div class="icon-area main">
				<button type="button" id="decide" onclick="decideItem()" class="pure-button"><img src="../img/decide.png"></button>
			</div>
			<div id="decision"></div>

		</div>
		<div id="ads"><script type="text/javascript">var nend_params = {"media":82,"site":58536,"spot":127513,"type":1,"oriented":1};</script></div><!-- disp test -->
	</div>
	<script src="../js/external/jquery.min.js" type="text/javascript" ></script>
	<script src="../js/external/jquery-ui.min.js" type="text/javascript"></script>
	<script src="../js/utils/sidemenu_utils.js" type="text/javascript"></script>
	<script src="../js/utils/database_utils.js" type="text/javascript"></script>
	<script src="../js/utils/common_utils.js" type="text/javascript"></script>
	<script src="../js/decide.js" type="text/javascript"></script>
</body>
</html>
