<!DOCTYPE html>
<html>
<head>
	<title>Decide | Push Me!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/pure-min.css">
	<link rel="stylesheet" href="../css/extend-pure.css" type="text/css">
	<link rel="stylesheet" href="../css/style.css" type="text/css">
	<link rel="stylesheet" href="../css/side_menu.css" type="text/css">
	<link rel="stylesheet" href="../css/accordion.css" type="text/css">
	<link rel="stylesheet" href="../css/grids-responsive-min.css">
	<link rel="stylesheet" href="../css/smartphone.css" type="text/css">
</head>
<body>
	<div id="layout">
	<!-- Menu toggle -->
	<a href="#menu" id="menuLink" class="menu-link">
	<!-- Hamburger icon -->
	<span></span>
	</a>
		<div id="menu" class="active">
			<div class="pure-menu pure-menu-open">
				<a class="pure-menu-heading" href="index.html">Top</a>
				<ul>
					<li><a href="submit.html">登録</a></li>
					<li><a href="decide.html">選択</a></li>
					<li><a href="listclips.html">クリップ</a></li>
					<li><a href="regitemslist.html">登録データ一覧</a></li>
					<li><a href="#">Coming Soon...</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="header">
			<h1>選択する</h1>
		</div>
		<div class="content">
			<form id="formId" class="pure-form">
				<select id="queryId"></select>
				<button type="button" id="view_few" class="pure-button img-button"><img src="../img/option_few.png"></button>
				<button type="button" id="view_normal" class="pure-button img-button"><img src="../img/option_normal.png"></button>
				<button type="button" id="view_many" class="pure-button img-button"><img src="../img/option_many.png"></button>
			</form>

			<div id="itemlist"></div>
			<div id="decision"></div>
		</div>
	</div>
	<script src="../js/jquery.min.js" type="text/javascript" ></script>
	<script src="../js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="../js/utils/common_utils.js"></script>
  <script src="../js/decideAjax.js"></script>
  <script src="../js/database.js"></script>
  <script src="../js/getFromDB.js"></script>
  <script src="../js/side_menu.js"></script>
	<script>
	$(function() {
		$('#jquery-ui-button-radio').buttonset();
	});
	</script>

</body>
</html>
