<!DOCTYPE html>
<html>
<head>
	<title>Item List | PushMe!</title>
	<meta charset="utf-8">
	<meta name="copyright" content="(c) PushMe Studio 2015">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
	<link rel="stylesheet" href="../css/external/pure-min.css" type="text/css">
	<link rel="stylesheet" href="../css/external/grids-responsive-min.css" type="text/css">
	<link rel="stylesheet" href="../css/external/jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" href="../css/pure-extended.css" type="text/css">
	<link rel="stylesheet" href="../css/common.css" type="text/css">
	<link rel="stylesheet" href="../css/sidemenu.css" type="text/css">
	<link rel="stylesheet" href="../css/accordion.css" type="text/css">
	<link rel="stylesheet" href="../css/smartphone.css" type="text/css">
	<link rel="stylesheet" href="../css/icon.css" type="text/css">
</head>
<body>
	<div id="layout">
		<!-- Menu toggle -->
		<a href="#menu" id="menuLink" class="menu-link">
			<!-- Hamburger icon -->
			<span></span>
		</a>
		<div id="menu" class="active">
			<div class="pure-menu pure-menu-open">
				<ul>
					<li><a href="submit.html"><img src="../img/menu_register.png"></a></li>
					<li><a href="decide.html"><img src="../img/menu_decide.png"></a></li>
					<li><a href="itemlist.html"><img src="../img/menu_list.png"></a></li>
					<li><a href="support.html"><img src="../img/menu_feedbk.png"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="header">
			<h1>Item List<img src="../img/mark_list.png"></h1>
		</div>
		<div class="content">
			<form id="formId" class="pure-form">
				<div class="category">
					<select id="queryId">
					</select>
				</div>
			</form>
			<div id="itemlist"></div>
		</div>
		<div id="ads"><script type="text/javascript">var nend_params = {"media":82,"site":58536,"spot":127513,"type":1,"oriented":1};</script></div><!-- disp test -->
		<div id="requireAlart" title="Alert" >Please fill in required sections</div>
		<div id="editComplete" title="Complete" >Complete!</div>
		<div id="editRegItem" title="Modify confirm">
			<form>
				<table>
					<tr>
						<td>*Category</td>
						<td><input type="text" id="newcate" placeholder="Category"></td>
					</tr>
					<tr>
						<td>*Subject</td>
						<td><input type="text" id="newname" placeholder="Subject"></td>
					</tr>
					<tr>
						<td>Description</td>
						<td><textarea id="newdesc" cols="20" rows="7" style="resize: none;" placeholder="Description"></textarea></td>
					</tr>
				</table>
			</form>
		</div>
		<div id="delItem" title="Delete confirm"></div>
	</div>
	<script src="../js/external/jquery.min.js" type="text/javascript" ></script>
	<script src="../js/external/jquery-ui.min.js" type="text/javascript"></script>
	<script src="../js/utils/sidemenu_utils.js" type="text/javascript"></script>
	<script src="../js/utils/database_utils.js" type="text/javascript"></script>
	<script src="../js/utils/ads_utils.js" type="text/javascript"></script>
	<script src="../js/itemlist.js" type="text/javascript"></script>
</body>
</html>
