<!DOCTYPE html>
<html>
<head>
	<title>Submit | PushMe!</title>
	<meta charset="utf-8">
	<meta name="copyright" content="(c) PushMe Studio 2015">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
	<link rel="stylesheet" href="../css/external/pure-min.css" type="text/css">
	<link rel="stylesheet" href="../css/pure-extended.css" type="text/css">
	<link rel="stylesheet" href="../css/common.css" type="text/css">
	<link rel="stylesheet" href="../css/sidemenu.css" type="text/css">
	<link rel="stylesheet" href="../css/external/jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" href="../css/smartphone.css" type="text/css">
	<link rel="stylesheet" href="../css/icon.css" type="text/css">
</head>
<body>
	<div id="layout">
		<!-- Menu toggle -->
		<a href="#menu" id="menuLink" class="menu-link">
			<!-- Hamburger icon -->
			<span></span>
		</a>
		<div id="menu" class="active">
			<div class="pure-menu pure-menu-open">
				<ul>
					<li><a href="submit.html"><img src="../img/menu_register.png"></a></li>
					<li><a href="decide.html"><img src="../img/menu_decide.png"></a></li>
					<li><a href="itemlist.html"><img src="../img/menu_list.png"></a></li>
					<li><a href="support.html"><img src="../img/menu_feedbk.png"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="header">
			<h1>Register<img src="../img/mark_register.png"></h1>
			<a href="index.html"><img  class="home" src="../img/home.png"></a>
		</div>
		<div class="content">
			<div id="notification">
				<div id="addComplete" class="fade" style="display: none;"><h3>Registered!</h3></div>
				<div id="addFailCuzAlreadyExists" class="fade" style="display: none;"><h3>Subject is duplicated. Change it and try again.</h3></div>
				<div id="addFailCuzEmptyElementExists" class="fade" style="display: none;"><h3>'Category' and 'Subject' are required.</h3></div>
			</div>
			<form id="regForm" class="pure-form pure-form-aligned">
				<div class="input-block">
					<h2 class="content-subhead">*Category</h2>
					<select id="options">
					</select>
					<h2 class="content-subhead">*Subject</h2>
					<p><input type="text" id="name" placeholder="Subject" /></p>
					<h2 class="content-subhead">Description</h2>
					<p><textarea rows="10" cols="20" id="description" placeholder="Description"></textarea></p>
					<div class="icon-area main">
						<button type="button" id="confirmAdd" class="pure-button pure-button-primary"><img src="../img/register.png"></button>
					</div>
					<div class="message-area">
						<div id="regConfirm" title="Add Confirm"></div>
					</div>
				</div>
			</form>
		</div>
		<div id="ads"><script type="text/javascript">var nend_params = {"media":22843,"site":116935,"spot":305355,"type":1,"oriented":3};</script></div>
	</div>
	<script src="../js/external/jquery.min.js" type="text/javascript" ></script>
	<script src="../js/external/jquery-ui.min.js" type="text/javascript"></script>
	<script src="../js/utils/sidemenu_utils.js" type="text/javascript"></script>
	<script src="../js/utils/database_utils.js" type="text/javascript"></script>
	<script src="../js/utils/common_utils.js" type="text/javascript"></script>
	<script src="../js/submit.js" type="text/javascript"></script>
</body>
