div[name="card"]{
	position:relative;
	border: 1px solid #00f;
	border-radius: 5px;
	margin: 0px 0px 10px 10px;
	background-color: #eee;
	height: 6em;
	overflow-x: hidden;
	overflow-y: auto;
}

div[name="arrow"]{
	position:relative;
}

.arrow_box { 
	display: none; 
	position: absolute; 
	padding: 16px; 
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
	background: #333; 
	color: #fff; 
	z-index: 1;
	top: 6em;
	width: 100%;
} 

.arrow_box:after { 
	position: absolute; 
	bottom: 100%; 
	left: 40%; 
	width: 0; 
	height: 0; 
	margin-left: -10px; 
	border: solid transparent; 
	border-color: rgba(51, 51, 51, 0); 
	border-bottom-color: #333; 
	border-width: 10px; 
	pointer-events: none; 
	content: " "; 
	z-index: 1;
}

