@media screen and (min-width:49em){

 .content {
	max-width: 50%;
 }
 
 .input-block{
	margin: 2em 20%;
 }

}

@media screen and (max-width:48em){

 .content {
 	max-width: 80%;
 }

 .input-block{
	margin: 2em 1em;
 }

}

span.accordion {
	width: 100%
}

div[name="card"]{
	margin: 5px 0 5px 0; 
	padding: 5px 5px 5px 5px;
	height: 30px;
	position: relative;
}

input[name="item"],
div[name="name"],
div[name="buttons"] {
	display:inline-block;
}

div[name="name"]{
	padding: 0 .5em 0px .5em;
}

div[name="buttons"]{
	position: absolute;
	top:.5em;
	right:5px;
}

#addCategory,
div[name="buttons"] button,
input[type="button"]{
	background: none;
	border: none;
	padding: 0;
	margin: 2px 5px 0 0;
}

input[type="text"],
textarea{
	width: 100%;
}

.input-category select{
	font-size: 14px;
	width: 190px;
}

.input-category input[type="text"],
.input-category button{
	display: inline-block;
	vertical-align: middle;
}
