body {
	font-size: 14px;
	font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	background-color: #fff;
	background-image: linear-gradient(#eee .1em, transparent .1em);
/*	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), */
	background-size: 100% 2.0em;
}

a {
  color: #00B7FF;
}

textarea {
	resize: none;
	width: 200px;
	height: 5em;
}

button.img-button {
        width: auto;
        overflow: visible;
        background: none;
        margin-top: 10px;
        margin-left: 5px;
        border: 0;
        padding: 0;
        line-height: 0;
        font-size: 0;
}

.custom-combobox {
    position: relative;
}

.custom-combobox-button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 0px;
    padding: 0;
    height: 1.8em;
    border-radius: 5px;
}

.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
    width: 8em;
}

/* 通常だとpure-formが優先されてカテゴリ選択のプルダウンが改行されてしまう(display:block)ため、ここだけ上書きする */
@media only screen and (max-width: 480px) {
    input#category{
        display: inline-block;
    }
}